doctype 
html
  head
    title Hello world
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="Content-Language" content="en")
    meta(name="revisit-after" content="1 days")
    meta(name="distribution" content="global")
    link(rel="stylesheet", href="/static/css/app.css")
  body
    block body
    script(src="/static/js/app.debug.js")
    script(src="//localhost:35729/livereload.js")
                      
